<div>
    <div highlight12>Real Madrid is a football club based in Spain</div>
    <div border12>It is the most successful club in Champions league</div>
    <div>Some of the clubs legendary players are - Ronaldo, Ramos, Di Stefano</div>
    <div border12 highlight12>Both directives are separately applied </div>
    <div borderAndHighlight12> Both border & highlight directives combined here </div>
    <div borderAndHighlight12 borderColor24="blue" highlightColor23="lightskyblue">directives with input</div>
</div>