<h3>Hover over these lines</h3>
<div>
    <div highlight12>Real Madrid is a football club based in Spain</div>
    <div highlight12 color23="green">this will get green color ??</div>
    <div border12>It is the most successful club in Champions league</div>
    <div>Some of the clubs legendary players are - Ronaldo, Ramos, Di Stefano</div>
    <div border12 highlight12>Both directives are separately applied </div>
    <div borderAndHighlight12> Both border & highlight directives combined here </div>
    <div borderAndHighlight12 borderColor24="blue" highlightColor23="lightskyblue">directives with input</div>
</div>

<br><br>

<div>
    <p>list of directives</p>
    <ul style="font-style: italic; color: blue;">
        <li>highlight12</li>
        <li>border12</li>
        <li>borderAndHighlight12</li>
    </ul>
</div>