<div>
    <button (click)="getDummyData()">getDummyData</button>
    <button (click)="loginToSimpleExpressSessions()">login</button>
    <button (click)="cookieStuff1()">cookie1</button>
    <button (click)="cookieStuff2()">cookie2</button>
    <button (click)="seeCookies()">seeCookies</button>
    <button (click)="clearAllCookies()">clearAllCookies</button>
</div>
<div>
    <button (click)="setCookieLocally1()">set Cookie locally1</button>
    <button (click)="setCookieLocally2()">set Cookie locally2</button>
    <button (click)="getLocalCookie()">get local Cookie</button>
</div>